<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Edit</title>
		<script src="{{ asset("js/bootstrap.js") }}"></script>	</head>
	<body>
		<h1>Edit</h1>
		<form id="edit" action="{{ path("webpro_department_update") }}" method="post">
		<table>
			<tr><td>Name:</td><td><input type="text" id = "Name" name="Name" value="{{ENTITY.getName()}}" /></td></tr>
			<tr><td>Id:</td><td><input type="text" id = "Id" name="Id" value="{{ENTITY.getId()}}" /></td></tr>
		</table>
		<input type="submit" id="Update" value="Update" />
		</form>
		<a href="{{ path("webpro_department_find_all") }}">List</a>
	</body>
</html>